# Groups creation

In [1]:
#
# Data loading
#
import pandas as pd

url = "https://raw.githubusercontent.com/jdvelasq/techminer/master/data/tutorial/"

df = pd.read_json(url + "groups-creation.json", orient="records", lines=True)

In [2]:
from techminer import DataFrame

df = DataFrame(df)

## Most frequent authors

In [3]:
df.documents_by_term('Authors')

                        Authors  Num Documents               ID
0                    Arévalo A.              3    [52, 94, 100]
1                    Gabbouj M.              3    [8, 110, 114]
2                  Hernandez G.              3    [52, 94, 100]
3                  Hussain A.J.              3  [125, 133, 140]
4                  Iosifidis A.              3    [8, 110, 114]
..                          ...            ...              ...
429                      Zou Q.              1             [38]
430  [No author name available]              1            [142]
431        von Mettenheim H.-J.              1            [137]
432               Ładyżyński P.              1              [1]
433                Żbikowski K.              1              [1]

[434 rows x 3 columns]

In [4]:
top_10_freq_authors = df.documents_by_term('Authors')['Authors'].head(10)
top_10_freq_authors

0       Arévalo A.
1       Gabbouj M.
2     Hernandez G.
3     Hussain A.J.
4     Iosifidis A.
5    Kanniainen J.
6          León D.
7          Nino J.
8      Passalis N.
9      Sandoval J.
Name: Authors, dtype: object

In [5]:
from techminer import Keywords

freq_authors = Keywords(x = top_10_freq_authors, ignore_case=False)

df['top_10_freq_authors'] = df.Authors.map(lambda x: any([author in freq_authors for author in x.split(',')]))

In [6]:
#
# Bool vector for documents written for frequent authors
#
df.top_10_freq_authors

0      False
1      False
2      False
3      False
4      False
       ...
140     True
141    False
142    False
143    False
144    False
Name: top_10_freq_authors, Length: 145, dtype: bool

In [8]:
#
# Titles of documents written for most frequent authors
#
df.Title[df.top_10_freq_authors]

8      Deep Temporal Logistic Bag-of-features for For...
52     CNN with limit order book data for stock price...
94     Price prediction with cnn and limit order book...
100    Deep Learning and Wavelets for High-Frequency ...
110    Using deep learning to detect price change ind...
114    Forecasting stock prices from the limit order ...
125    Regularized dynamic self-organized neural netw...
133    Physical time series prediction using dynamic ...
140    Dynamic Ridge Polynomial Neural Network: Forec...
Name: Title, dtype: object

In [3]:
#df.to_json("data-cleaned.json", orient="records", lines=True)