In [5]:
# Install latest version from GitHub
!pip install -q -U git+https://github.com/jdvelasq/techminer

# Groups creation

In [6]:
#
# Data loading
#
import pandas as pd

url = "https://raw.githubusercontent.com/jdvelasq/techminer/master/data/tutorial/"

df = pd.read_json(url + "groups-creation.json", orient="records", lines=True)

In [7]:
from techminer import DataFrame

df = DataFrame(df)

## Most frequent ...

In [8]:
#
# Adds a boolean column for rows belong to 10 
# most frequent authors
#
df = df.most_frequent(column='Authors', top_n=10)

#
# Bool vector for documents written for frequent authors:
#
df.top_10_Authors_freq

AttributeError: 'DataFrame' object has no attribute 'documents_by_term'

In [ ]:
#
# Titles of documents written for most frequent authors
#
df.Title[df.top_10_authors_freq]

In [11]:
df.documents_by_term('Authors')

                        Authors  Num Documents               ID
0                    Arévalo A.              3    [52, 94, 100]
1                    Gabbouj M.              3    [8, 110, 114]
2                  Hernandez G.              3    [52, 94, 100]
3                  Hussain A.J.              3  [125, 133, 140]
4                  Iosifidis A.              3    [8, 110, 114]
..                          ...            ...              ...
429                      Zou Q.              1             [38]
430  [No author name available]              1            [142]
431        von Mettenheim H.-J.              1            [137]
432               Ładyżyński P.              1              [1]
433                Żbikowski K.              1              [1]

[434 rows x 3 columns]

## Most frequent authors

In [ ]:
df.documents_by_term('Authors')

In [ ]:
top_10_authors_freq = df.documents_by_term('Authors')['Authors'].head(10)
top_10_authors_freq

In [ ]:
from techminer import Keywords

freq_authors = Keywords(x = top_10_authors_freq, ignore_case=False)

df['top_10_authors_freq'] = df.Authors.map(lambda x: any([author in freq_authors for author in x.split(',')]))

## Most cited authors

In [ ]:
def most_cited_by(column, n=10, sep=None):
    top = df.documents_by_term(column, sep=sep)[column].head(n)
    kyw = Keywords(x = top, ignore_case=False)
    colname = 'top_{:d}_{:s}_cited_by'.format(n, column.replace(' ', '_'))
    df[colname] = df[column].map(lambda x: any([e in kyw for e in x.split(sep)]))
    return df


df = most_cited_by('Authors', n=10, sep=',')
df.Title[df.top_10_Authors_cited_by]

In [ ]:
#df.to_json("data-cleaned.json", orient="records", lines=True)