In [1]:
# Install latest version from GitHub
!pip install -q -U git+https://github.com/jdvelasq/techminer

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

from techminer import DataFrame, Plot

#
# Data loading
#
df = DataFrame(
    pd.read_json(
        "https://raw.githubusercontent.com/jdvelasq/techminer/master/data/tutorial/"
        + "cleaned-data.json",
        orient="records",
        lines=True,
    )
)

# Analysis of terms by terms per year

In [2]:
#
# Data loading
#
import matplotlib.pyplot as plt
import pandas as pd

url = "https://raw.githubusercontent.com/jdvelasq/techminer/master/data/tutorial/"
df = pd.read_json(url + "cleaned-data.json", orient="records", lines=True)

In [3]:
import matplotlib.pyplot as plt
from techminer import DataFrame, Plot

df = DataFrame(df)

## Authors vs Source Title

In [6]:
df.documents_by_terms_per_terms_per_year(
    column_IDX='Authors', 
    column_COL='Source title').head()

,Authors,Source title,Year,Num Documents,ID
0,Dunis C.L.,European Journal of Finance,2010,1,[143]
1,Laws J.,European Journal of Finance,2010,1,[143]
2,Lin X.(1),Proceedings - 2010 6th International Conferenc...,2010,1,[144]
3,Sermpinis G.,European Journal of Finance,2010,1,[143]
4,Song Y.(1),Proceedings - 2010 6th International Conferenc...,2010,1,[144]